<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ChatMapper" >
  <resultMap id="BaseResultMap" type="com.entity.Chat" >
    <id column="chat_id" property="chatId" jdbcType="BIGINT" />
    <result column="rid" property="rid" jdbcType="BIGINT" />
    <result column="pid" property="pid" jdbcType="BIGINT" />
    <result column="chat_creatime" property="chatCreatime" jdbcType="TIMESTAMP" />
    <association property="reader" column="rid" fetchType="lazy" javaType="com.entity.Reader" select="com.dao.ReaderMapper.selectByPrimaryKey"/>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.entity.Chat" extends="BaseResultMap" >
    <result column="context" property="context" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    chat_id, rid, pid, chat_creatime
  </sql>
  <sql id="Blob_Column_List" >
    context
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from chat
    where chat_id = #{chatId,jdbcType=BIGINT}
  </select>

  <select id="selectAllChat" resultMap="BaseResultMap">
    select * from chat
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from chat
    where chat_id = #{chatId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.entity.Chat" >
    <selectKey resultType="java.lang.Long" keyProperty="chatId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into chat (rid, pid, chat_creatime, 
      context)
    values (#{rid,jdbcType=BIGINT}, #{pid,jdbcType=BIGINT}, #{chatCreatime,jdbcType=TIMESTAMP}, 
      #{context,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Chat" >
    <selectKey resultType="java.lang.Long" keyProperty="chatId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into chat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        rid,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="chatCreatime != null" >
        chat_creatime,
      </if>
      <if test="context != null" >
        context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        #{rid,jdbcType=BIGINT},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=BIGINT},
      </if>
      <if test="chatCreatime != null" >
        #{chatCreatime,jdbcType=TIMESTAMP},
      </if>
      <if test="context != null" >
        #{context,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Chat" >
    update chat
    <set >
      <if test="rid != null" >
        rid = #{rid,jdbcType=BIGINT},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=BIGINT},
      </if>
      <if test="chatCreatime != null" >
        chat_creatime = #{chatCreatime,jdbcType=TIMESTAMP},
      </if>
      <if test="context != null" >
        context = #{context,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where chat_id = #{chatId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.entity.Chat" >
    update chat
    set rid = #{rid,jdbcType=BIGINT},
      pid = #{pid,jdbcType=BIGINT},
      chat_creatime = #{chatCreatime,jdbcType=TIMESTAMP},
      context = #{context,jdbcType=LONGVARCHAR}
    where chat_id = #{chatId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Chat" >
    update chat
    set rid = #{rid,jdbcType=BIGINT},
      pid = #{pid,jdbcType=BIGINT},
      chat_creatime = #{chatCreatime,jdbcType=TIMESTAMP}
    where chat_id = #{chatId,jdbcType=BIGINT}
  </update>
</mapper>